{{#each assignees as |url assignee|}}
  <li>
    <label class="text-normal">
      <input type="checkbox" id="{{assignee}}" class="jgh-projects-options-toggle-assignee">
      <img src="{{url}}" class="avatar" height="20" width="20" alt="@{{assignee}}">
      <span class="pl-1">{{assignee}}</span>
    </label>
  </li>
{{/each}}