<div class="d-table-cell pr-4" style="position: relative;">
  <div class="select-menu js-menu-container js-select-menu">
    <button id="gh-projects-options-authors-button" class="btn-link select-menu-button project-header-link js-menu-target no-underline" type="button" aria-haspopup="true" data-hotkey="h" aria-expanded="true">
      Authors
    </button>

    <div class="select-menu-modal-holder js-menu-content js-navigation-container js-active-navigation-container" aria-hidden="false" aria-expanded="true" style="right: 10px;">

      <div class="select-menu-modal">
        <div class="select-menu-header">
          <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
          <span class="select-menu-title">Filter by who’s the author</span>
        </div>

        <div class="js-select-menu-deferred-content">
          <div class="select-menu-filters"></div>

          <div class="select-menu-list" data-filter="author">
            <div id="gh-projects-options-authors-list" data-filterable-for="authors-filter-field" data-filterable-type="substring">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
