{{#each labels as |style label|}}
  <li>
    <label>
      <input type="checkbox" id="{{label}}" class="jgh-projects-options-toggle-label">
      <span style="{{style}}" class="label">{{label}}</span>
    </label>
  </li>
{{/each}}