<div class="project-pane gh-projects-options-pane border-left border-bottom position-absolute bottom-0 bg-gray-light overflow-auto d-none {{#if isFullscreen}}top-0{{/if}}">
  <div class="py-2 border-bottom bg-gray">
    <button class="btn-link position-absolute top-0 right-0 mt-2 mr-3 link-gray gh-projects-options-toggle" aria-label="Hide project options" type="button">
      <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
    </button>
    <h4 class="f5 text-center">Project options</h4>
  </div>
  <div class="mx-4 my-4 pb-4 overflow-hidden">
    <ul class="contains-task-list">
      <li>
        <label class="text-normal">
          <input type="checkbox" id="gh-projects-options-add-column-toggle"> Hide "Add column" column
        </label>
      </li>
      <li>
        <label class="text-normal">
          <input type="checkbox" id="gh-projects-options-project-details-toggle"> Hide "Details" button
        </label>
      </li>
      <li>
        <label class="text-normal">
          <input type="checkbox" id="gh-projects-options-project-settings-toggle"> Hide "Settings" icon
        </label>
      </li>
      <li>
        <label class="text-normal">
          <input type="checkbox" id="gh-projects-options-project-modals-toggle"> Activate modals (preview)
        </label>
      </li>
    </ul>
  </div>
</div>
