<div class="pb-3 pr-3 pl-3 f5">
  <h3 class="f5 mt-0">Project options</h3>
  <div class="my-3 pb-4 overflow-hidden">
    <ul class="contains-task-list">
      <li>
        <label class="text-normal">
          <input type="checkbox" id="gh-projects-options-add-column-toggle"> Hide "Add column" column
        </label>
      </li>
      <li>
        <label class="text-normal">
          <input type="checkbox" id="gh-projects-options-project-details-toggle"> Hide "Details" button
        </label>
      </li>
      <li>
        <label class="text-normal">
          <input type="checkbox" id="gh-projects-options-project-settings-toggle"> Hide "Settings" icon
        </label>
      </li>
      <li>
        <label class="text-normal">
          <input type="checkbox" id="gh-projects-options-project-modals-toggle"> Activate modals (preview)
        </label>
      </li>
    </ul>
  </div>
</div>
